body {
   display: grid;
   grid-template-columns: 1fr;
   border: 40px solid;
   border-color: #D4E5ED;
}
}
.container {
    display: grid;
    grid-template-columns: 300px 500px ;
    padding: 30px 30px; 
}
   .container > .columns {
    display: grid;
    grid-template-columns:1fr 3fr 7fr 1fr;

}
.container > .columns > .left {
     grid-column: 2/3;
     padding: 20px;
     background-color: white;
}
.container > .columns > .right {
     grid-column: 3/4;
     padding: 20px;
     background-color: white;

}
 div > .columns {
     margin-top: 30px;
     margin-bottom: 30px;
 }
